.intro {
  background: url("../images/intro-content-bg.jpg") repeat;

  &::before {
    display: none;
  }

  &__banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 54%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__content {
    width: 46%;
  }

  &__body {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    img {
      max-height: 180px;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 350;
    text-transform: uppercase;
    text-align: center;
    color: #a96900;
    margin-bottom: 16px;
  }

  &__devider {
    width: 330px;
    max-width: calc(100% - 12px);
    height: 2px;
    background-color: #a96900;
    position: relative;
    margin-bottom: 35px;
    opacity: 0.75;
    transform: rotateX(60deg);

    &::before,
    &::after {
      content: "";
      border: 5px solid transparent;
      border-width: 5px 6px;
      border-right-color: #a96900;
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
    }

    &::after {
      left: 100%;
      right: auto;
      transform: translateY(-50%) rotateY(180deg);
    }
  }

  &__desc {
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
  }

  &__btns {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 15px;
    gap: 15px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    background-color: #dcae5f;
    border-radius: 50%;
    position: relative;

    &:hover {
      background-color: $text-color;
    }

    img {
      width: 18px;
      height: 18px;
      object-fit: contain;
      object-position: 50% 50%;
      filter: brightness(0) invert(1);
      transition: 0.3s;
    }
  }

  // product-detail page
  &__frame {
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__title-2 {
    font-family: $timesten;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 350;
    margin-bottom: 6px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  &__note {
    width: 100%;
    padding: 16px;
    font-weight: 350;
    background-color: #ede7db;
    margin-top: 16px;
  }

  &__btn-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 16px 8px;
    border: 1px solid #000;
    text-decoration: none;
    text-align: center;
    color: #000;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      color: #000;
      background-color: #eee;
      text-decoration: none;
    }

    img {
      width: 18px;
      height: 18px;
      transform: translateY(8%);
      object-fit: contain;
      object-position: 50% 50%;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
    }

    .icon-heart-fill {
      display: none;
    }

    input:checked ~ .icon-heart-outline {
      display: none;
    }

    input:checked ~ .icon-heart-fill {
      display: inline-block;
    }

    &--black {
      min-width: 160px;
      background-color: #000;
      color: $white;

      &:hover {
        color: $white;
        background-color: #222;
        border-color: #222;
      }
    }
  }

  &--2 {
    background: 0;
  }

  &--2 &__content {
    width: 50%;
    margin-left: auto;
  }

  &--2 &__body {
    width: 100%;
    align-items: flex-start;
  }

  &--2 &__desc {
    font-weight: 350;
  }

  @media (max-width: 991px) {
    &__body {
      width: 300px;
    }

    &__logo {
      margin-bottom: 30px;

      img {
        max-height: 150px;
      }
    }

    &__title {
      font-size: 20px;
    }

    &__devider {
      margin-bottom: 24px;
    }

    &__desc {
      font-size: 12px;
    }

    &__btns {
      top: 10px;
      left: 10px;
      gap: 10px;
    }

    &__btn {
      width: 30px;
      height: 30px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    // product-detail page
    &__title-2 {
      font-size: 20px;
    }

    &__price {
      font-size: 20px;
    }

    &__note {
      font-size: 12px;
    }
  }

  @media (max-width: 767px) {
    &__banner {
      width: 50%;
    }

    &__content {
      width: 50%;
    }

    &__logo {
      margin-bottom: 16px;
    }

    &__devider {
      margin-bottom: 16px;
    }

    &__desc {
      font-size: 10px;
    }

    &__btn {
      width: 24px;
      height: 24px;

      img {
        width: 10px;
        height: 10px;
      }
    }

    &__title-2,
    &__price {
      font-size: 18px;
    }

    &__btn-2 {
      font-size: 12px;
      padding: 4px 16px 5px;

      &--black {
        min-width: unset;
      }
    }

    &__note {
      font-size: 10px;
    }
  }

  @media (max-width: 575px) {
    &__banner {
      display: none;
    }

    &__content {
      width: 100%;
    }

    &__logo {
      margin-bottom: 40px;
    }

    &__devider {
      margin-bottom: 30px;
    }

    &__frame {
      width: 100%;
      height: auto;
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      margin-bottom: 10px;

      &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }
    }

    &--2 &__content {
      width: 100%;
    }
  }
}

.share-btns {
  position: relative;
  z-index: 1;

  &__dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 4px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #dcae5f;
    border-radius: 50%;
    padding: 25% 15%;
    box-shadow: 0 1px 4px rgba(#000, 0.15);
    opacity: 0.85;
    margin-top: 4px;

    &:hover {
      opacity: 1;
    }

    &--facebook {
      background-color: $facebook;
    }

    &--zalo {
      background-color: #0068ff;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  @media (max-width: 767px) {
    &__btn {
      width: 24px;
      height: 24px;
    }
  }
}

.share-btns-2 {
  position: relative;

  &__dropdown {
    display: none;
    min-width: 100%;
    box-shadow: 0 2px 10px rgba(#000, 0.35);
    position: absolute;
    top: 100%;
    left: 0;
  }

  &:hover &__dropdown {
    display: block;
  }

  &__btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    background-color: $light;
    color: #666;

    &:hover {
      background-color: #ddd;
      color: #333;
      text-decoration: none;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;
    margin-right: 16px;

    img {
      width: 24px;
      height: 16px;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__btn--zalo &__icon {
    background-color: $zalo;
  }

  &__btn--facebook &__icon {
    background-color: $facebook;
  }
}
